
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth; /*Zorgt ervoor dat als je op een linkje klikt met id dat je niet gelijk er naar toe sprinkt maar dat het smooth gaat*/
}

body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    background: ghostwhite;
    width: 100vw;
    overflow-x: hidden; /*Zorgt ervoor dat je niet horizontaal kan scrollen*/
    position: relative; 
}

/* Doormiddel van deze properties zorgen we ervoor dat de header mooi gecentreed is */
header {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header img {
    width: 40vw;
    height: 60vh;
    background-color: #6FA8BA;
    object-fit: contain; /* Zorgt ervoor dat de image niet vervormt */
}

h1{
    text-align: center;
    font-size: 3rem;
}

h2{
    text-align: center;
    font-size: 1.5rem;
}

article {
    display: flex; 
    flex-direction: row;/* dit samen met display flex zorgt ervoor dat de image en section naast elkaar komen te staan */
    background: linear-gradient(20deg, lightpink , #dbf4ac);
    height: 50vh;
}

article section {
    width: 100%;
    padding: 2em;
    position: relative;
}

article section.image {
    width: 40%;
    padding: 0;
}

article section a.button {
    background: black;
    color: white;
    position: absolute;
    bottom: 2em;
    padding: 1em 2em;
    right: 2em;
    transition: 400ms;
    text-decoration: none; /* zorgt ervoor dat er geen streep onderstaat */
	border-radius: 2em;
	text-align: center;
	letter-spacing: 2px;
}

/* wanneer je over de button hoverd wordt hij wit met zwarte text*/
article section a.button:hover {
    background: white;
    color: black;
    position: absolute;
    transition: 0.75s;
}

/*------------------------nav--------------------------*/
nav ul{
    list-style: none; /* zodat er geen bullitpoints voor zitten */
}

.menu{
    width: 20vw;
    z-index: 2;
    background: #007379;
    text-align: left;
    position: fixed; /* zorgt ervoor dat als je scrolt het menu op dezelfde plek van je scherm blijft staan */
    top: 0;
    transition: 1s;
}

.menu h2{
    text-align:center;
    color:beige;
}

.menu a{
    display: block;
    margin-left: 1em;
    margin-top: 1em;
    color:beige;
    text-decoration: none; /* zorgt ervoor dat er geen streep onderstaat */
}

nav ul ul {
	display: none; /*zorgt ervoor dat de lijst is ingeklapt*/
	position: absolute;
    background: #007379b2;
    width:20vw;
}

nav ul:hover ul {
    display: block; /*zorgt ervoor dat de lijst is uitgeklapt*/
}
/*------------------------nav--------------------------*/

.container{
    width: 70vw;
    margin: 0 0 0 20vw;
    background: #6FA8BA;
}

/*Layout veranderd per grootte Mobile*/
@media only screen and (max-width: 600px) {
    header img {
        height: 10vh;
        object-fit: contain;
    }

    article {
        padding: 1em;
        display: flex;
        flex-direction: column; /*zort ervoor dat de image en section onderelkaar komen te staan in de article*/
        height: auto;
        align-items: center;
    }

    article section {
        width: 80%;
        padding: 2em;
        position: relative;
        text-align: center;
    }
    
    article section.image img {
        width: 100%;
        height: 25vh;
        object-fit: cover;
    }
    
    article section.image a {
        pointer-events: none;
    }
    
    /* maakt de button smalller en centreert het */
    article section a.button {
        position: relative;
        top: 1em;
        right: 0;
        padding: 0.5em 2em;
    }
    
    article section a.button:hover {
        position: relative; 
    }

    /* zorgt ervoor dat de oneven articles een andere kleur hebben */
    article:nth-child(odd) {
        background: linear-gradient(20deg, rgb(182, 255, 198) ,rgb(253, 92, 92));
    }
    
    /*------------------------nav--------------------------*/
    nav{
        width: 120px;
    }

    /* Menu naar rechts boven verplaatsen */
    .menu{
        text-align: left;
        position: fixed;
        right: 0;
        width: 120px;
        background: #00737900;
    }

    .menu h2 {
        color:#400000;
    }

    nav ul ul{
        width: 120px;
    }
    /*------------------------nav--------------------------*/

    .container{
        width: 100%;
        margin:0;
    }
}

@media only screen and (min-width: 600px ) {
    
    article {
        border-radius: 15px;
        overflow: hidden; /*Zorgt ervoor dat de images ook een border-radius krijgen*/
        margin: 1em 1em;
    }

    article section.image {
        width: 60%;
    }
    
    article section.image img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Zorgt ervoor dat de image niet vervormt */
    }
    
    /* ODD ITEM DRAAIT FOTO EN CONTENT OM */
    article:nth-child(odd) {
        rotate: 180deg;
        background: linear-gradient(200deg, rgb(182, 255, 198) ,rgb(253, 92, 92));
    }
    
    article:nth-child(odd) section {
        rotate: 180deg;
        text-align: right;
    }
    
    article:nth-child(odd) section a.button {
        left: 2em;
        right: unset;
    }
    /* EIND ODD ITEM DRAAIT FOTO EN CONTENT OM */

    .menu{
        left: 0; /* zet menu links */
    }
  }


@media only screen and (min-width: 768px) {
    article section.image {
        width: 40%;
    }
    
} 

/*-----------------Darkmode-----------------*/
@media (prefers-color-scheme: dark) {
    body{
      background: rgb(70, 0, 70);
    }
    header img{
        background-color: #7f00b9;
    }

    article{
        background: linear-gradient(20deg, rgb(27, 1, 88) ,rgb(117, 0, 146));
    }

    article:nth-child(odd){
        background: linear-gradient(20deg, rgb(26, 2, 134) ,rgb(16, 0, 87));
    }

    .container{
        background-color: #7f00b9;
        color: ghostwhite;
    }

    .menu{
        background: #8800c88a;
    }

    nav ul ul{
        background: #8800c88a;
    }
}
/*-----------------Darkmode-----------------*/